<table class="header">
    <tr>
        {% spaceless %}
        <th>
            {% if incidence.icon %}
            {% icon incidence.icon small type %}
            {% endif %}

            {% if incidence.recurs %}
            {% icon incidence.recursIcon small _("Recurring incidence") %}
            {% endif %}

            {% if incidence.hasEnabledAlarms %}
            {% icon incidence.alarmIcon small _("Incidence with a reminder") %}
            {% endif %}

            {% if incidence.isReadOnly %}
            {% icon "object-locked" small _("Incidence is read only") %}
            {% endif %}
        </th>
        {% endspaceless %}
        <td>
            <b><u>{{ incidence.summary|safe }}</u></b>
        </td>
    </tr>
</table>
